{
        "icc": false,
        "iptables" : true,
        "live-restore": true,
        "log-driver": "json-file",
        "log-opts": {
            "max-size": "10m",
            "max-file": "3"
            },
{% if inventory_hostname not in groups.docker_nagios %}
        "no-new-privileges": true,
{% endif %}
{% if docker_userns_remap %}
        "userns-remap": "default",
{% endif %}
        "userland-proxy": false
}
