{
        "icc": false,
        "iptables" : true,
        "live-restore": true,
        "log-driver": "json-file",
        "log-opts": {
            "max-size": "10m",    
            "max-file": "3"    
            },
        "no-new-privileges": true,
        "userns-remap": "default",
        "userland-proxy": false
}
