version: "2.1"
services:
    proxy:
        image: traefik
        container_name: inverseproxy
        networks:
            shared:
{% if inventory_hostname in groups['docker_auth'] or (inventory_hostname in groups['docker_nextcloud'] and cloud_collabora is defined) %}
              aliases:
{% if inventory_hostname in groups['docker_auth'] %}
                - {{ sso_url }}
{% endif %}
{% if inventory_hostname in groups['docker_nextcloud'] and cloud_collabora is defined %}
                - {{ cloud_url }}
                - {{ cloud_collabora_url }}
{% endif %}
{% endif %}
            smtp:
            private:
            public:
        volumes:
            - cert:/etc/traefik/acme:rw,Z
            - ./traefik.toml:/etc/traefik/traefik.toml:ro
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - dockersocket
        restart: unless-stopped

    dockersocket:
        image: tecnativa/docker-socket-proxy
        container_name: inverseproxy_socket
        privileged: true
        networks:
            private:
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            CONTAINERS: 1
            NETWORKS: 1
            SERVICES: 1
            SWARM: 1
            TASKS: 1
        restart: unless-stopped

networks:
    shared:
        internal: true
        driver_opts:
            encrypted: 1
    smtp:
        internal: true
        driver_opts:
            encrypted: 1
    private:
        internal: true
        driver_opts:
            encrypted: 1
    public:
        driver_opts:
            encrypted: 1

volumes:
    cert:
